<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="styles/main.css" />
  <title>Document</title>
</head>
<body>
  <div id="contain"></div>

  <script type="text/html" id="template_reader_contain">
    <div class="reader">
      <div class="reader__contain">
        <div class="reader__header">
          <button class="reader__back js-back" type="button">К списку</button>
        </div>
        <div class="reader__page js-page"></div>
        <div class="reader__pagings js-pagings"></div>
      </div>
    </div>
  </script>

  <script type="text/html" id="template_reader_paging_item">
    <span class="reader__paging-item<% if (page - 1 == currentPage) { %> reader__paging-item--active<% } %> js-paging" data-page="<%= page %>"><%= page %></span>
  </script>

  <script type="text/html" id="template_book_contain">
    <div class="book"></div>
  </script>

  <script type="text/html" id="template_book">
    <div class="book__item">
      <div class="book__preview">
        <img class="book__preview-pic" src="<%= preview %>" alt="" />
      </div>
      <div class="book__desc">
        <div class="book__author"><%= author %></div>
        <div class="book__title"><%= title %></div>
        <div class="book__tags">
          <% for (tag in tags) if (Object.prototype.hasOwnProperty.call(tags, tag)) { tag = tags[tag]; %>
            <div class="book__tag"><%= tag %></div>
          <% } %>
        </div>
      </div>
      <button class="book__read js-read" data-uuid="<%= uuid %>">Читать</button>
    </div>
  </script>
  <script src="dist/app.js"></script>
</body>
</html>
