.book {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  align-items: center;
}

.book__item {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.22);
  max-width: 625px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

* + .book__item {
  margin-top: 20px;
}

.book__preview {
  width: 96px;
  margin-right: 10px;
}

.book__preview img {
  max-width: 100%;
}

.book__author {
  color: #747474;
  margin-top: 3px;
}

.book__desc {
  flex: 1;
}

.book__title {
  font-size: 20px;
  line-height: 20px;
  color: #222222;
  margin-top: 10px;
}

.book__read {
  background-color: #FFF;
  margin-top: -20px;
  border: 1px solid #4C73F6;
  color: #426BF2;
  height: 40px;
  font-size: 12px;
  align-self: center;
  cursor: pointer;
  padding: 0 20px;
  margin-right: 10px;
}

.book__read:hover {
  border: 1px solid #f64ce5;
  color: #f243c6;
}

.book__tags {
  margin-top: 15px;
}

.book__tag {
  background-color: #FCF6E5;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  font-size: 8px;
  line-height: 13px;
  color: #B79459;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 3px;
}
