.reader {
  padding: 30px 40px;
  height: 100%;
  box-sizing: border-box;
}

.reader__contain {
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.22);
}

.reader__header {
  padding: 15px 0;
}

.reader__page {
  flex: 1;
  position: relative;
}

.reader__page p {
  margin-bottom: 10px;
  line-height: 24px;
}

.reader__pagings {
  height: 35px;
  padding-top: 10px;
}

.reader__back {
  background-color: #FFF;
  margin-top: -20px;
  border: 1px solid #4C73F6;
  color: #426BF2;
  height: 40px;
  font-size: 12px;
  align-self: center;
  cursor: pointer;
  padding: 0 20px;
  display: inline-block;
  vertical-align: top;
}

.reader__back:hover {
  border: 1px solid #f64ce5;
  color: #f243c6;
}

.reader__paging-item {
  cursor: pointer;
  padding: 3px 7px;
  display: inline-block;
  vertical-align: top;
}

.reader__paging-item:hover {
  background-color: #FCF6E5;
  border-radius: 2px;
}

.reader__paging-item--active {
  background-color: #FCF6E5;
  border-radius: 2px;
  cursor: default;
}

.reader__paging-item + .reader__paging-item {
  margin-left: 5px;
}
